.navigation-auth {
}

.navigation-auth__items {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: flex-end;
  align-items: center; 
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation-auth__item {
  list-style: none;
  margin-left: 30px;
}

.navigation-auth__link {
  text-decoration: none;
  color: inherit;
}

.navigation-auth__button {
  box-sizing: border-box;
  padding: 8px 0;
  display: inline-block;
  text-align: center;
  background-color: #3DDC84;
  border: 0;
  width: 76px;
  height: 32px  ;
  border-radius: 3px;
  color: #000;
}

@media screen and (max-width: 320px) {
  .navigation-auth__items {
    font-size: 10px;
    line-height: 16px;
  }

  .navigation-auth__button {
    padding: 5px 0;
    width: 54px;
    height: 26px  ;
  }

  .navigation-auth__item {
    margin-left: 14px;
  }
}