.movies-card-list {
  margin: 80px auto 0;
  max-width: calc(1280px - 140px);
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  min-height: 460px;
}

.movies-card-list__request-error {
  margin: 0 auto;
  text-align: center;
  /* max-width: 640px; */
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.movies-card-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: 319px;
  grid-auto-rows: 319px;
  column-gap: 28px;
  row-gap: 32px;
  justify-content: center;
  
}

.movies-card-list__button {
  margin: 60px auto 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: inherit;
  background-color: #2F2F2F;
  border: none;
  width: 100%;
  height: 36px  ;
  border-radius: 6px;
}

.movies-card-list__button_deactivate {
  visibility: hidden;
}

@media screen and (max-width: 846px) {

  .movies-card-list__request-error {
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
  }
  .movies-card-list__container {
    grid-template-columns: repeat(auto-fit, 342px);
    grid-template-rows: 309px;
    grid-auto-rows: 309px;
    column-gap: 24px;
    row-gap: 35px;
  }

  .movies-card-list {
    width: 100%;
  }

  .movies-card-list__button {
    margin: 82px auto 80px;
    display: block;
    width: 92%;
  }
}

@media screen and (max-width: 375px) {
  .movies-card-list__request-error {
    font-size: 28px;
    line-height: 38px;
  }
  .movies-card-list {
    margin-top: 51px;
  }

  .movies-card-list__container {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 271px;
    grid-auto-rows: 271px;
    column-gap: 0;
    row-gap: 16px;
  }

  .movies-card-list__button {
    margin-top: 80px;
  }
}