.not-found {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  min-height: 700px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  }

.not-found__text-container {
  margin-top: 186px;
  margin-bottom: 58px;
}

.not-found__title {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169.43px;
  text-align: center;
}

.not-found__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
}

.not-found__btn {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #4285F4;
  background-color: inherit;
  border: none;
}

@media screen and (max-width: 768px) {
  .not-found__text {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 425px) {
  .not-found__text-container {
    margin-top: 330px;
    margin-bottom: 150px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 96.82px;
  }
  
  .not-found__text {
    font-size: 12px;
    line-height: 14.52px;
  }
  
  .not-found__btn {
    margin-top: 130px;
    font-size: 12px;
    line-height: 14.52px;
  }
}