.promo {
  /* display: flex; */
  box-sizing: border-box;
  background-color: #073042;
  min-height: 574px ;
}

.promo__container {
  /* display: flex; */
  margin: 0 auto;
  /* padding: 75px 70px 0; */
  padding-top: 75px;
  /* padding-left: 70px;
  padding-right: 70px; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  max-width: calc(1280px - 140px);
  width: 90%;
  position: relative;
}

.promo__title {
  margin: 0;
  max-width: 640px;
  /* font-family: 'Inter', sans-serif;
  font-style: normal; */
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;

  /* color: #fff; */
}

.promo__text {
  margin: 36px 0 146px;
  max-width: 310px;
  /* font-family: 'Inter', sans-serif;
  font-style: normal; */
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: .5;

  /* color: #fff; */
}

.promo__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #073042;
  border: 1px solid rgba(255,255,255, 0.6);
  width: 129px;
  height: 36px  ;
  border-radius: 3px;
  color: #fff;
}

.promo__image {
  /* display: block; */
  object-fit: cover;
  max-width: 100%;
  max-height: 304px;
  position: absolute;
  /* height: 100px; */
  right: 0;
}

@media screen and (max-width: 768px) {
  .promo__container {
    position: static;
  }

  .promo__image {
  position: static;
}
}



