.about-project {
  margin: auto;
  max-width: calc(1280px - 140px);
  width: 90%;
  /* padding: 0 70px; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  height: 608px;
}

.about-project__title {
  margin: 0;
  padding-top: 110px;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.about-project__description-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

}

.about-project__description {
  max-width: 550px;
}



.about-project__description-title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about-project__description-text {
  margin: 26px 0 110px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__scale-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 36px;
  /* gap: 0; */
}

.about-project__scale {
  /* display: block; */
  margin: 0;
  padding: 9px 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* width: 228px; */
  /* height: 36px; */
  background-color: rgb(61, 220, 132);
  color: #000;
  /* border-radius: 3px; */
}

.about-project__scale_type_front {
  color: #fff;
  background-color: rgb(48, 48, 48);
}

.about-project__scale-info {
  margin: 0;
  padding-top: 14px;
  color: rgb(139, 139, 139);

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}




